<div class="mt-2">
  <mat-card class="my-3 bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <p class="fs-5 fw-bolder m-0">employé</p>
      <a
        class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold"
        [routerLink]="['/personne']"
      >
        <mat-icon matSuffix>arrow_back</mat-icon>
      </a>
    </div>
  </mat-card>
  <mat-card>
    <div class="fs-4 m-2">
      <div class="row my-3">
        <p class="col-6">
          <span class="fw-bold">Nom : </span>
          {{ Nom }}
          <mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Nom === ''"
          ></mat-progress-bar>
        </p>

        <p class="col-6">
          <span class="fw-bold">Prenom :</span>{{ Prenom
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Prenom === ''"
          ></mat-progress-bar>
        </p>
      </div>
      <div class="my-3 row">
        <p>
          <span class="fw-bold col">CIN :</span> {{ CIN
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="CIN === ''"
          ></mat-progress-bar>
        </p>
      </div>
      <div class="my-3 row">
        <p class="">
          <span class="fw-bold col">Adresse :</span> {{ Adresse
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Adresse === ''"
          ></mat-progress-bar>
        </p>
      </div>
      <div class="row my-3">
        <p class="col-6">
          <span class="fw-bold">Telephone : </span>{{ Telephon
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Telephon === ''"
          ></mat-progress-bar>
        </p>
        <p class="col-6">
          <span class="fw-bold">Date Naissance :</span>{{ Date_Naissance
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Date_Naissance === ''"
          ></mat-progress-bar>
        </p>
      </div>
      <div class="row my-3">
        <p class="col-6">
          <span class="fw-bold">Role :</span> {{ Role
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Role === ''"
          ></mat-progress-bar>
        </p>
        <p class="col-6">
          <span class="fw-bold">Chef :</span>
          {{ Chef }}
          <mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Chef === ''"
          ></mat-progress-bar>
        </p>
      </div>
      <div class="row my-3">
        <p class="col-4">
          <span class="fw-bold">Grade : </span>{{ Grade
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Grade === ''"
          ></mat-progress-bar>
        </p>
        <p class="col-4">
          <span class="fw-bold">Fonction : </span>{{ Fonction
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Fonction === ''"
          ></mat-progress-bar>
        </p>
        <p class="col-4">
          <span class="fw-bold">Echelle : </span>{{ Echelle
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Echelle === ''"
          ></mat-progress-bar>
        </p>
      </div>
      <div class="row my-3">
        <p class="col-6">
          <span class="fw-bold">Service : </span>{{ Service
          }}<mat-progress-bar
            class=""
            mode="indeterminate"
            *ngIf="Service === ''"
          ></mat-progress-bar>
        </p>
        <p class="col-6">
          <span class="fw-bold">Etablissement :</span> {{ Etablissement
          }}<mat-progress-bar
            class=""
            color="red"
            mode="indeterminate"
            *ngIf="Etablissement === ''"
          ></mat-progress-bar>
        </p>
      </div>
    </div>
  </mat-card>
</div>
