<div class="rounded rounded-3 border border-3 m-4">
  <div class="border-bottom border-3 bg-light">
    <p
      class="p-3 bg-primary text-white h4 m-0 text-center d-flex justify-content-center align-items-center"
    >
      <span class="me-2">Nouvel Fonction</span
      ><mat-icon matSuffix class="">work</mat-icon>
    </p>
  </div>
  <div class="p-4">
    <form [formGroup]="fonctionForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <mat-form-field appearance="fill" class="col-7">
          <mat-label>Libelle</mat-label>
          <input
            matInput
            type="text"
            id="libelle"
            placeholder="libelle"
            formControlName="libelle"
            name="libelle"
          />
          <mat-icon matSuffix>label</mat-icon>
          <div *ngIf="error?.libelle" class="text-danger">
            {{ error.libelle }}
          </div>
          <mat-hint>libelle</mat-hint>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <a
          class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold me-3"
          [routerLink]="['/fonction']"
          ><span class="me-2 fs-6">Annuler</span
          ><mat-icon matSuffix>close</mat-icon></a
        >
        <button
          type="submit"
          class="btn btn-primary w-25 d-flex align-items-center justify-content-center fw-semibold"
        >
          <span class="me-2 fs-6">Ajouter</span>
          <mat-icon matSuffix>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
