<mat-card
  class="my-3 bg-primary text-white d-flex justify-content-between align-items-center p-0 px-3"
>
  <p class="mb-0 fs-5 fw-medium">
    Absence <span *ngIf="a == true"> Ce Jour-la</span>
  </p>
  <mat-form-field
    appearance="standard"
    class="w-25 ms-2 p-0"
    *ngIf="a !== true"
  >
    <mat-label class="text-white">Recherche </mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
      class="text-white"
    />
    <mat-icon matSuffix class="text-white">search</mat-icon>
  </mat-form-field>
  <button
    (click)="exportData()"
    class="btn btn-success d-flex align-content-center"
    *ngIf="a !== true && (Role === 'Admin' || Role === 'Directeur')"
  >
    <span> Excel </span>
    <mat-icon>download_2</mat-icon>
  </button>
</mat-card>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="datedebut">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Date debut
      </th>
      <td mat-cell *matCellDef="let row">{{ row.date_debut }}</td>
    </ng-container>

    <ng-container matColumnDef="datefin">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Date fin
      </th>
      <td mat-cell *matCellDef="let row">{{ row.date_fin }}</td>
    </ng-container>
    <ng-container matColumnDef="duree">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Duree
      </th>
      <td mat-cell *matCellDef="let row">{{ row.duree }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Type
      </th>
      <td mat-cell *matCellDef="let row">{{ row.type }}</td>
    </ng-container>
    <ng-container matColumnDef="Nom">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Nom
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.personne
            ? row.personne.nom + " " + row.personne.prenom
            : row.nom + " " + row.prenom
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Ref_demande">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Ref Demande
      </th>
      <td mat-cell *matCellDef="let row">{{ row.demande_absence.Ref }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="bg-primary text-white"
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
