<div class="rounded rounded-3 border border-3 m-4">
  <div class="border-bottom border-3 bg-light">
    <p
      class="p-3 bg-gray-300 h4 m-0 text-center d-flex justify-content-center align-items-center"
    >
      <span class="me-2">Edit Personne</span
      ><mat-icon matSuffix class="">account_circle</mat-icon>
    </p>
  </div>
  <div class="p-4">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>CIN</mat-label>
          <input
            matInput
            type="text"
            id="CIN"
            placeholder="CIN"
            formControlName="CIN"
            name="CIN"
          />
          <mat-icon matSuffix>badge</mat-icon>
          <div *ngIf="error?.CIN" class="text-danger">{{ error.CIN }}</div>
          <mat-hint>CIN</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Nom</mat-label>
          <input
            matInput
            type="text"
            id="nom"
            placeholder="nom"
            formControlName="nom"
            name="nom"
          />
          <mat-icon matSuffix>person</mat-icon>
          <div *ngIf="error?.nom" class="text-danger">{{ error.nom }}</div>
          <mat-hint>Nom</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Prenom</mat-label>
          <input
            matInput
            type="text"
            id="prenom"
            placeholder="prenom"
            formControlName="prenom"
            name="prenom"
          />
          <mat-icon matSuffix>person</mat-icon>
          <div *ngIf="error?.prenom" class="text-danger">
            {{ error.prenom }}
          </div>
          <mat-hint>Prenom</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Adresse</mat-label>
          <input
            matInput
            type="text"
            id="adresse"
            placeholder="adresse"
            formControlName="adresse"
            name="adresse"
          />
          <mat-icon matSuffix>home</mat-icon>
          <div *ngIf="error?.adresse" class="text-danger">
            {{ error.adresse }}
          </div>
          <mat-hint>Adresse</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Date Naissance</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            id="adresse"
            name="date_naissance"
            formControlName="date_naissance"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <div *ngIf="error?.date_naissance" class="text-danger">
            {{ error.date_naissance }}
          </div>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Telephone</mat-label>
          <input
            matInput
            type="text"
            id="telephone"
            placeholder="telephone"
            formControlName="telephone"
            name="telephone"
          />
          <mat-icon matSuffix>phone</mat-icon>
          <div *ngIf="error?.telephone" class="text-danger">
            {{ error.telephone }}
          </div>
          <mat-hint>Telephone</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3 row row-cols-2 row-cols-lg-3 g-3 g-lg-3">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="Employé">Employé</mat-option>
            <mat-option value="Superviseur">Superviseur</mat-option>
            <mat-option value="Directeur">Directeur</mat-option>
          </mat-select>
          <div *ngIf="error?.role" class="text-danger">
            {{ error.role }}
          </div>
          <mat-hint align="end">Role</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Chef</mat-label>
          <mat-select formControlName="chef_id">
            <mat-option value="">-</mat-option>
            <mat-option
              [value]="item.id"
              *ngFor="let item of Personnes; let i = index"
              >{{ item.nom + " " + item.prenom }}</mat-option
            >
          </mat-select>
          <div *ngIf="error?.chef_id" class="text-danger">
            {{ error.chef_id }}
          </div>
          <mat-hint align="end">Chef</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Grade</mat-label>
          <mat-select formControlName="grade_id">
            <mat-option
              [value]="Grade[i].id"
              *ngFor="let item of Grade; let i = index"
            >
              {{ Grade[i].libelle }}
            </mat-option>
          </mat-select>
          <div *ngIf="error?.grade_id" class="text-danger">
            {{ error.grade_id }}
          </div>
          <mat-hint align="end">Grade</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Fonction</mat-label>
          <mat-select formControlName="fonction_id">
            <mat-option
              [value]="Fonction[i].id"
              *ngFor="let item of Fonction; let i = index"
              >{{ Fonction[i].libelle }}</mat-option
            >
          </mat-select>
          <div *ngIf="error?.fonction_id" class="text-danger">
            {{ error.fonction_id }}
          </div>
          <mat-hint align="end">Fonction</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Echelle</mat-label>
          <mat-select formControlName="echelle_id">
            <mat-option
              [value]="Echelle[i].id"
              *ngFor="let item of Echelle; let i = index"
              >{{ item.libelle }}</mat-option
            >
          </mat-select>
          <div *ngIf="error?.echelle_id" class="text-danger">
            {{ error.echelle_id }}
          </div>
          <mat-hint align="end">Echelle</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Service</mat-label>
          <mat-select formControlName="service_id">
            <mat-option
              [value]="item.id"
              *ngFor="let item of Service; let i = index"
              >{{ item.nom }}</mat-option
            >
          </mat-select>
          <div *ngIf="error?.service_id" class="text-danger">
            {{ error.service_id }}
          </div>
          <mat-hint align="end">Service</mat-hint>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-success me-3 w-25 d-flex align-items-center justify-content-center fw-semibold"
        >
          <span class="me-2 fs-5">Update</span>
          <mat-icon matSuffix>save</mat-icon>
        </button>
        <a
          class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold"
          [routerLink]="['/personne']"
          ><span class="me-2 fs-5">Annuler</span
          ><mat-icon matSuffix>close</mat-icon></a
        >
      </div>
    </form>
  </div>
</div>
