<div class="rounded rounded-3 border border-3 m-4">
  <div class="border-bottom border-3 bg-primary">
    <p
      class="p-3 bg-primary text-white h4 m-0 text-center d-flex justify-content-center align-items-center"
    >
      <span class="me-2">Modifier Service </span
      ><mat-icon matSuffix class="">medical_services</mat-icon>
    </p>
  </div>
  <div class="p-4">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Libelle</mat-label>
          <input
            matInput
            type="text"
            id="nom"
            placeholder="nom"
            formControlName="nom"
            name="nom"
          />
          <mat-icon matSuffix>medical_services</mat-icon>
          <div *ngIf="error?.nom" class="text-danger">{{ error.nom }}</div>
          <mat-hint>Libelle</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Etablissements</mat-label>
          <mat-select multiple formControlName="etablissements_id">
            <mat-option
              *ngFor="let item of Etablissement; let i = index"
              [value]="item.id"
            >
              <ng-container>{{ item.nom }}</ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <a
          class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold me-2"
          [routerLink]="['/service']"
          ><span class="me-2 fs-5">Annuler</span
          ><mat-icon matSuffix>close</mat-icon></a
        >
        <button
          type="submit"
          class="btn btn-primary w-25 d-flex align-items-center justify-content-center fw-semibold"
        >
          <span class="me-2 fs-5">Mise à jour</span>
          <mat-icon matSuffix>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
