<div class="my-3">
  <mat-card class="bg-light">
    <div>
      <p class="fs-5">
        <span class="fw-bolder">Nom Service : </span>{{ NomService
        }}<mat-progress-bar
          class=""
          color="red"
          mode="indeterminate"
          *ngIf="NomService === ''"
        ></mat-progress-bar>
      </p>
      <p class="fs-5">
        <span class="fw-bolder">Responsable Service : </span
        >{{ NomResponsable + " " + PrenomResponsable
        }}<mat-progress-bar
          class=""
          color="red"
          mode="indeterminate"
          *ngIf="NomResponsable === ''"
        ></mat-progress-bar>
      </p>
      <p class="fs-5">
        <span class="fw-bolder">Nombre Employes : </span>
        {{ Nbr }}
      </p>
    </div>
  </mat-card>
</div>
<div>
  <mat-card class="bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <p class="fs-5 fw-bolder m-0">Employees</p>
      <a
        class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold"
        [routerLink]="['/service']"
      >
        <mat-icon matSuffix>arrow_back</mat-icon>
      </a>
    </div>
  </mat-card>
</div>
<div class="mt-2">
  <app-table-personnes></app-table-personnes>
</div>
