<div class="rounded rounded-3 border border-3 m-4">
  <div class="border-bottom border-3 bg-light">
    <p
      class="p-3 bg-primary text-white h4 m-0 text-center d-flex justify-content-center align-items-center"
    >
      <span class="me-2">Créé Demande Congé </span
      ><mat-icon matSuffix class="">event</mat-icon>
    </p>
  </div>
  <div class="p-4">
    <form [formGroup]="demandeCongeForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Date Debut"
              formControlName="dateDebut"
            />
            <input
              matEndDate
              placeholder="Date Fin"
              formControlName="dateFin"
            />
          </mat-date-range-input>
          <mat-hint align="end">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <div *ngIf="error?.dateDebut" class="text-danger">
            {{ error.dateDebut }}
          </div>
          <div *ngIf="error?.dateFin" class="text-danger">
            {{ error.dateFin }}
          </div>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>La Durée</mat-label>
          <input
            matInput
            placeholder="Durée"
            formControlName="duree"
            readonly=""
          />
          <mat-hint align="end">Durée</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <!-- <mat-form-field appearance="fill" class="col">
          <mat-label>Select Personne</mat-label>
          <mat-select formControlName="personne_id">
            <mat-option value="">-</mat-option>
            <mat-option
              value="{{ item.id }}"
              *ngFor="let item of Personnes; let i = index"
              >{{ item.nom + " " + item.prenom }}</mat-option
            >
          </mat-select>
          <div *ngIf="error?.personne_id" class="text-danger">
            {{ error.personne_id }}
          </div>
          <mat-hint align="end">Personne</mat-hint>
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Type Congé </mat-label>
          <mat-select formControlName="type">
            <mat-option value="Congé Maladie">congé annuel</mat-option>
            <mat-option value="Congé Maladie">Congé Maladie</mat-option>
            <mat-option value="Congé Maternité">Congé Maternité</mat-option>
            <mat-option value="Congé de formation"
              >Congé de formation</mat-option
            >
            <mat-option value="Congé sans solde">Congé sans solde</mat-option>
            <mat-option value="Congé de paternité"
              >Congé de paternité</mat-option
            >
            <mat-option value="Congé pour mariage"
              >Congé pour mariage</mat-option
            >
          </mat-select>
          <div *ngIf="error?.type" class="text-danger">
            {{ error.type }}
          </div>
          <mat-hint align="end">Type</mat-hint>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <a
          class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold me-3"
          [routerLink]="['/demande/conge']"
          ><span class="me-2 fs-5">Annuler</span
          ><mat-icon matSuffix>close</mat-icon></a
        >
        <button
          type="submit"
          class="btn btn-primary w-25 d-flex align-items-center justify-content-center fw-semibold"
        >
          <span class="me-2 fs-5">Save</span>
          <mat-icon matSuffix>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
