<!-- style="background-color: #e3f2fd" -->
<nav class="navbar navbar-expand-lg bg-primary" *ngIf="loggedIn">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="../assets/Image/ministere-de-la-sante-maroc.png"
        alt=""
        style="width: 50px"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Accueil</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/etablissement']"
            *ngIf="Role === 'Admin'"
            >Établissement</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/service']"
            *ngIf="Role === 'Directeur' || Role === 'Admin'"
            >Service</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/personne']"
            *ngIf="
              Role === 'Directeur' || Role === 'Superviseur' || Role === 'Admin'
            "
            >Employés</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/conge']"
            *ngIf="
              Role === 'Directeur' || Role === 'Superviseur' || Role === 'Admin'
            "
            >Congé</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/absence']"
            *ngIf="
              Role === 'Directeur' || Role === 'Superviseur' || Role === 'Admin'
            "
            >Absence</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Demande
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/demande/conge']"
                *ngIf="
                  Role === 'Employé' ||
                  Role === 'Superviseur' ||
                  Role === 'Admin'
                "
                >Demande Congé</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/admin/demande/conge']"
                *ngIf="Role === 'Directeur' || Role === 'Admin'"
                >Demande Congé
                <span *ngIf="Role === 'Admin'"> Sous Directeur </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/demande/absence']"
                *ngIf="
                  Role === 'Employé' ||
                  Role === 'Superviseur' ||
                  Role === 'Admin'
                "
                >Demande Absence</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/admin/demande/absence']"
                *ngIf="Role === 'Directeur' || Role === 'Admin'"
                >Demande Absence
                <span *ngIf="Role === 'Admin'"> Sous Directeur </span></a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            *ngIf="Role === 'Admin'"
          >
            Autre
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/echelle']"
                *ngIf="Role === 'Admin'"
                >Échelle</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/fonction']"
                *ngIf="Role === 'Admin'"
                >Fonction</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/grade']"
                *ngIf="Role === 'Admin'"
                >Grade</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><mat-icon
              class="text-white p-0 m-0 btn btn-debug"
              aria-hidden="false"
              aria-label="account_circles"
              fontIcon="account_circles"
              >account_circles</mat-icon
            >
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="nav-link d-flex align-items-center"
                [routerLink]="['/profile']"
                *ngIf="loggedIn"
              >
                <mat-icon
                  class="text-primary p-0 m-0 me-2 btn btn-debug"
                  aria-hidden="false"
                  aria-label="person"
                  fontIcon="person"
                  >person</mat-icon
                >
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a
                class="nav-link d-flex align-items-center"
                [routerLink]="['#']"
                (click)="logout($event)"
                *ngIf="loggedIn"
              >
                <mat-icon
                  class="text-primary p-0 m-0 me-2 btn-debug"
                  aria-hidden="false"
                  aria-label="logout"
                  fontIcon="logout"
                  >logout</mat-icon
                >
                <span>Déconnexion</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
