<div class="rounded rounded-3 border border-3 m-4">
  <div class="border-bottom border-3 bg-light">
    <p
      class="p-3 bg-gray-300 h4 m-0 text-center d-flex justify-content-center align-items-center"
    >
      <span class="me-2">New Etablissement </span
      ><mat-icon matSuffix class="">account_circle</mat-icon>
    </p>
  </div>
  <div class="p-4">
    <form [formGroup]="etablissementForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 row row-cols-2 row-cols-lg-2 g-4 g-lg-5">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Nom</mat-label>
          <input
            matInput
            type="text"
            id="nom"
            placeholder="nom"
            formControlName="nom"
            name="nom"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Nom</mat-hint>
          <div *ngIf="error?.nom" class="text-danger">{{ error.nom }}</div>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Select Directeur</mat-label>
          <mat-select formControlName="directeur_id">
            <mat-option value="">-</mat-option>
            <mat-option
              value="{{ item.id }}"
              *ngFor="let item of Personnes; let i = index"
              >{{ item.nom + " " + item.prenom }}</mat-option
            >
          </mat-select>
          <div *ngIf="error?.directeur_id" class="text-danger">
            {{ error.directeur_id }}
          </div>
          <mat-hint align="end">Directeur</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Adresse</mat-label>
          <input
            matInput
            type="text"
            id="adresse"
            placeholder="adresse"
            formControlName="adresse"
            name="adresse"
          />
          <mat-icon matSuffix>home</mat-icon>
          <div *ngIf="error?.adresse" class="text-danger">
            {{ error.adresse }}
          </div>
          <mat-hint>Adresse</mat-hint>
        </mat-form-field>
      </div>

      <div class="mb-3 row row-cols-2 row-cols-lg-3 g-3 g-lg-3"></div>

      <div class="d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-success me-3 w-25 d-flex align-items-center justify-content-center fw-semibold"
        >
          <span class="me-2 fs-5">Save</span>
          <mat-icon matSuffix>save</mat-icon>
        </button>
        <a
          class="btn btn-danger d-flex align-items-center justify-content-center fw-semibold"
          [routerLink]="['/etablissement']"
          ><span class="me-2 fs-5">Annuler</span
          ><mat-icon matSuffix>close</mat-icon></a
        >
      </div>
    </form>
  </div>
</div>
