<mat-card class="my-3 bg-light">
  <div class="d-flex justify-content-between align-items-center">
    <p class="mb-0 fs-5 fw-bolder">
      Demande d'congé <span *ngIf="a === true">pour ce mois</span>
    </p>
    <a [routerLink]="['create']" class="btn btn-danger" *ngIf="a !== true"
      >Create</a
    >
  </div>
</mat-card>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let row">
        {{
          row.personne
            ? row.personne.nom + " " + row.personne.prenom
            : row.nom + " " + row.prenom
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="CIN">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CIN</th>
      <td mat-cell *matCellDef="let row">
        {{ row.personne ? row.personne.CIN : row.CIN }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type congé</th>
      <td mat-cell *matCellDef="let row">{{ row.type }}</td>
    </ng-container>
    <ng-container matColumnDef="Durée">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée</th>
      <td mat-cell *matCellDef="let row">{{ row.duree }}</td>
    </ng-container>
    <ng-container matColumnDef="DateDemande">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Demande</th>
      <td mat-cell *matCellDef="let row">{{ row.dateDemande }}</td>
    </ng-container>
    <ng-container matColumnDef="DateDebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Debut</th>
      <td mat-cell *matCellDef="let row">{{ row.dateDebut }}</td>
    </ng-container>
    <ng-container matColumnDef="DateFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Fin</th>
      <td mat-cell *matCellDef="let row">{{ row.dateFin }}</td>
    </ng-container>
    <ng-container matColumnDef="état">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>état</th>
      <td mat-cell *matCellDef="let row" [style.color]="getColor(row['état'])">
        {{ row["état"] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <p class="text-center">Action</p>
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <div class="d-flex justify-content-around">
          <button
            [routerLink]="['pdf/', row.id]"
            class="btn btn-primary me-1 d-flex align-content-center"
          >
            <mat-icon
              class="text-white"
              aria-hidden="false"
              aria-label="picture_as_pdf"
              fontIcon="picture_as_pdf"
              >picture_as_pdf</mat-icon
            ><span class="ms-2">PDF</span>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
