<div>
  <div class="" *ngIf="Role === 'Directeur'">
    <div class="row row-cols-lg-6 mb-3 text-center fs-5 fw-bold">
      <div class="col">
        <mat-card>
          <p>Nb Employés</p>
          <span>{{ Accueil.personnes_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb Services</p>
          <span>{{ Accueil.services_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM ABD Ce jour-là</p>
          <span>{{ Accueil.demande_absences_today_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG Ce jour-là</p>
          <span>{{ Accueil.demande_conges_today_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM ABS ce mois</p>
          <span>{{ Accueil.demande_absences_count_month }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG ce mois</p>
          <span>{{ Accueil.demande_conges_count_month }}</span>
        </mat-card>
      </div>
    </div>
    <div class="row row-cols-lg-6 mb-3 text-center fs-5 fw-bold">
      <div class="col">
        <mat-card>
          <p>Nb ABS Ce jour-là</p>
          <span>{{ Accueil.absences_today_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb CNG Ce jour-là</p>
          <span>{{ Accueil.conges_today_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb CNG ce mois</p>
          <span>{{ Accueil.conges_current_month_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb ABS ce mois</p>
          <span>{{ Accueil.absences_current_month_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM ABS En Attendant</p>
          <span>{{ Accueil.total_demande_absences_count_att }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG En Attendant</p>
          <span>{{ Accueil.total_demande_conges_count_att }}</span>
        </mat-card>
      </div>
    </div>
    <div>
      <div>
        <mat-card>
          <app-my-chart></app-my-chart>
        </mat-card>
      </div>
      <div class="my-3">
        <mat-card>
          <div>
            <app-table-demande-conge-directeur></app-table-demande-conge-directeur>
          </div>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <div>
            <app-table-demande-absence-admin></app-table-demande-absence-admin>
          </div>
        </mat-card>
      </div>
      <div class="my-3">
        <mat-card>
          <div>
            <app-table-conge></app-table-conge>
          </div>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <div>
            <app-table-absence></app-table-absence>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="Role === 'Superviseur' || Role === 'Employé'">
    <div class="row row-cols-lg-3 mb-3 text-center fs-5 fw-bold">
      <div class="col">
        <mat-card>
          <p>Solde de Congés Restant</p>
          <span>{{ Accueil.NbSoldeConges }} Jours</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Congés Cette Année</p>
          <span>{{ Accueil.NbConges }} Jours</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Absences Cette Année</p>
          <span>{{ Accueil.NbAbsence }} Jours</span>
        </mat-card>
      </div>
    </div>
    <div>
      <mat-card>
        <app-my-chart></app-my-chart>
      </mat-card>
    </div>
    <div class="my-3">
      <mat-card>
        <div><app-table-demande-conge></app-table-demande-conge></div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div><app-table-demande-absence></app-table-demande-absence></div>
      </mat-card>
    </div>
  </div>
  <div class="" *ngIf="Role === 'Admin'">
    <div class="row row-cols-lg-5 mb-3 text-center fs-5 fw-bold">
      <div class="col">
        <mat-card>
          <p>Nb D'etablissements</p>
          <span>{{ Accueil.etablissements_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb d'employés</p>
          <span>{{ Accueil.personnes_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb services</p>
          <span>{{ Accueil.services_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM ABS Ce jour-là</p>
          <span>{{ Accueil.demande_absences_today_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG Ce jour-là</p>
          <span>{{ Accueil.demande_conges_today_count }}</span>
        </mat-card>
      </div>
    </div>
    <div class="row row-cols-lg-5 mb-3 text-center fs-5 fw-bold">
      <div class="col">
        <mat-card>
          <p>Nb DEM ABS ce mois</p>
          <span>{{ Accueil.demande_absences_count_month }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG ce mois</p>
          <span>{{ Accueil.demande_conges_count_month }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM ABD Année</p>
          <span>{{ Accueil.demandeAbsencesCountCetteAnnee }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG Année</p>
          <span>{{ Accueil.demandeCongesCountCetteAnnee }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb ABD Ce jour-là</p>
          <span>{{ Accueil.absences_today_count }}</span>
        </mat-card>
      </div>
    </div>
    <div class="row row-cols-lg-5 mb-3 text-center fs-5 fw-bold">
      <div class="col">
        <mat-card>
          <p>Nb CNG Ce jour-là</p>
          <span>{{ Accueil.conges_today_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb CNG ce mois</p>
          <span>{{ Accueil.conges_current_month_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb ABD ce mois</p>
          <span>{{ Accueil.absences_current_month_count }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM ABS En Attendant</p>
          <span>{{ Accueil.total_demande_absences_count_att }}</span>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <p>Nb DEM CNG En Attendant</p>
          <span>{{ Accueil.total_demande_conges_count_att }}</span>
        </mat-card>
      </div>
    </div>
    <div>
      <div>
        <mat-card>
          <app-my-chart></app-my-chart>
        </mat-card>
      </div>
      <div class="my-3">
        <mat-card>
          <div>
            <app-table-demande-conge-directeur></app-table-demande-conge-directeur>
          </div>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <div>
            <app-table-demande-absence-admin></app-table-demande-absence-admin>
          </div>
        </mat-card>
      </div>
      <div class="my-3">
        <mat-card>
          <div>
            <app-table-conge></app-table-conge>
          </div>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <div>
            <app-table-absence></app-table-absence>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
