<mat-card
  class="p-0 bg-primary pe-2 my-3 d-flex justify-content-between align-items-center"
  *ngIf="getId === null"
>
  <!-- <div class="d-flex justify-content-between align-items-center"> -->
  <mat-form-field appearance="standard" class="w-25 ms-2 p-0">
    <mat-label class="text-white">Recherche libelle</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
      class="text-white"
    />
    <mat-icon matSuffix class="text-white">search</mat-icon>
  </mat-form-field>
  <p class="mb-0 fs-5 fw-medium me-5 text-white">Employés</p>
  <div class="d-flex">
    <button
      (click)="exportData()"
      class="btn btn-success d-flex align-items-center me-1"
      *ngIf="Role === 'Admin' || Role === 'Directeur'"
    >
      <span> Excel </span>
      <mat-icon>download_2</mat-icon>
    </button>
    <a
      [routerLink]="['create']"
      class="btn btn-danger px-5 d-flex align-items-center justify-content-center"
      *ngIf="Role === 'Admin'"
    >
      <span class="me-2 fs-5">Créer</span>
      <mat-icon matSuffix>add_circle</mat-icon>
    </a>
  </div>
</mat-card>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="CIN">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        CIN
      </th>
      <td mat-cell *matCellDef="let row">{{ row.CIN }}</td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Nom
      </th>
      <td mat-cell *matCellDef="let row">{{ row.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Prenom
      </th>
      <td mat-cell *matCellDef="let row">{{ row.prenom }}</td>
    </ng-container>

    <ng-container matColumnDef="dateNaissance">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Date Naissance
      </th>
      <td mat-cell *matCellDef="let row">{{ row.date_naissance }}</td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Adresse
      </th>
      <td mat-cell *matCellDef="let row">{{ row.adresse }}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Telephone
      </th>
      <td mat-cell *matCellDef="let row">{{ row.telephone }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Role
      </th>
      <td mat-cell *matCellDef="let row">{{ row.role }}</td>
    </ng-container>
    <ng-container matColumnDef="chef_id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Chef
      </th>
      <td mat-cell *matCellDef="let row">
        {{ (row.chef && row.chef.nom) || "null" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="grade_id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Grade
      </th>
      <td mat-cell *matCellDef="let row">{{ row.grade.libelle }}</td>
    </ng-container>

    <ng-container matColumnDef="fonction_id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Fonction
      </th>
      <td mat-cell *matCellDef="let row">{{ row.fonction.libelle }}</td>
    </ng-container>

    <ng-container matColumnDef="echelle_id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Echelle
      </th>
      <td mat-cell *matCellDef="let row">{{ row.echelle.libelle }}</td>
    </ng-container>

    <ng-container matColumnDef="service_id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Service
      </th>
      <td mat-cell *matCellDef="let row">{{ row.service.nom }}</td>
    </ng-container>
    <ng-container matColumnDef="Etablissement" *ngIf="getId !== null">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Etablissement
      </th>
      <td mat-cell *matCellDef="let row">----</td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th *matHeaderCellDef class="bg-primary text-white fw-normal text-center">
        Action
      </th>
      <td mat-cell *matCellDef="let row; let i = index" class="p-0">
        <div class="d-flex justify-content-between px-2">
          <div
            class="m-2 d-flex justify-content-center align-content-center pt-1"
          >
            <mat-icon
              [routerLink]="['/personne/show/', row.id]"
              class="text-secondary p-0 m-0 btn fs-3"
              aria-hidden="false"
              aria-label="edit"
              fontIcon="edit"
              >visibility</mat-icon
            >
          </div>
          <div
            class="m-2 d-flex justify-content-center align-content-center pt-1"
          >
            <mat-icon
              *ngIf="Role === 'Admin'"
              [routerLink]="['/personne/edit/', row.id]"
              class="text-primary p-0 m-0 btn fs-3"
              aria-hidden="false"
              aria-label="edit"
              fontIcon="edit"
              >edit</mat-icon
            >
          </div>
          <div
            class="m-2 d-flex justify-content-center align-content-center pt-1"
          >
            <mat-icon
              *ngIf="Role === 'Admin'"
              (click)="delete(row.id, i)"
              class="text-danger p-0 m-0 btn btn-debug"
              aria-hidden="false"
              aria-label="delete"
              fontIcon="delete"
              >delete</mat-icon
            >
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="bg-primary text-white"
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
