<mat-card
  class="my-3 bg-primary d-flex justify-content-between align-items-center py-0 px-3 text-white"
>
  <p class="mb-0 fs-5 fw-medium">
    Demande Congé <span *ngIf="a == true"> Ce Jour-la</span>
  </p>
  <mat-form-field
    appearance="standard"
    class="w-25 ms-2 p-0"
    *ngIf="a !== true"
  >
    <mat-label class="text-white">Recherche </mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
      class="text-white"
    />
    <mat-icon matSuffix class="text-white">search</mat-icon>
  </mat-form-field>
</mat-card>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="Type">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Type congé
      </th>
      <td mat-cell *matCellDef="let row">{{ row.type }}</td>
    </ng-container>
    <ng-container matColumnDef="Personne">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Nom
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.personne
            ? row.personne.nom + " " + row.personne.prenom
            : row.nom + " " + row.prenom
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="CIN">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        CIN
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.personne ? row.personne.CIN : row.CIN }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Durée">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Durée
      </th>
      <td mat-cell *matCellDef="let row">{{ row.duree }}</td>
    </ng-container>
    <ng-container matColumnDef="DateDemande">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        DateDemande
      </th>
      <td mat-cell *matCellDef="let row">{{ row.dateDemande }}</td>
    </ng-container>
    <ng-container matColumnDef="DateDebut">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Date Debut
      </th>
      <td mat-cell *matCellDef="let row">{{ row.dateDebut }}</td>
    </ng-container>
    <ng-container matColumnDef="DateFin">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-primary text-white"
      >
        Date Fin
      </th>
      <td mat-cell *matCellDef="let row">{{ row.dateFin }}</td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th *matHeaderCellDef class="bg-primary text-white fw-normal text-center">
        Action
      </th>
      <td mat-cell *matCellDef="let row; let i = index" class="p-0">
        <div class="d-flex justify-content-around">
          <!-- <button
            [routerLink]="['pdf/', row.idC]"
            class="btn btn-primary me-1 d-flex align-content-center"
          >
            <mat-icon
              class="text-white"
              aria-hidden="false"
              aria-label="picture_as_pdf"
              fontIcon="picture_as_pdf"
              >picture_as_pdf</mat-icon
            ><span class="ms-2">PDF</span>
          </button> -->
          <div
            [routerLink]="['pdf/', row.idC]"
            class="m-2 d-flex justify-content-center align-content-center pt-1"
          >
            <mat-icon
              class="text-white"
              aria-hidden="false"
              class="text-primary p-0 m-0 btn fs-3"
              aria-label="picture_as_pdf"
              fontIcon="picture_as_pdf"
              >picture_as_pdf</mat-icon
            >
          </div>
          <button
            href="#"
            class="btn btn-success"
            (click)="addConge(row.idC, i)"
          >
            Accepter
          </button>
          <button
            href="#"
            class="btn btn-danger"
            (click)="rejectDemande(row.idC, i)"
          >
            REJETÉ
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    class="bg-primary text-white"
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
